div#logo {
    background-image: url("../imgs/cube.png");
    background-size: 100% 100%;
    background-position: center;
    width: 50px;
    height: 50px;
    float: left;
    transform: translateX(0px) translateY(0px);
}

@media (max-width: 720px) {

    div#title-conts {
        float: right;
        font-size: 1.5em;
    }

    div#logo-container {
        padding-top: 20px;
        padding-left: 10px;
        letter-spacing: 3px;
        width: 300px;
        height: 50px;
        margin: auto;
        margin-bottom: 40px;
    }

    body {
        background-image: url("../imgs/background-roses.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 0px;
    }

    main#reg_region {
        background-color: var(--dark_red_col);
        background-image: linear-gradient(45deg, var(--dark_red_col), #ff173e);
        margin: auto;
        color: white;
        padding: 30px;
        box-shadow: 8px 8px 10px var(--half_transparent_col);
    }

    main.dim_togler {
        width: 100%;
    }

    div.field {
        width: 80%;
        margin: auto;
    }

    div.field > input {
        width: 100%;
        height: 40px;
        border-radius: 20px 20px 20px 20px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        background-color: var(--half_transparent_col);
        color: white;
        padding-left: 10px;
        font-size: 1.2em;
    }

    div.field > label {
        font-size: 1.5em;
    }
}

@media (min-width: 720px) {

    div#title-conts {
        float: right;
        font-size: 2em;
    }

    div#logo-container {
        padding-top: 20px;
        padding-left: 10px;
        letter-spacing: 3px;
        width: 360px;
        height: 50px;
        margin: auto;
        margin-bottom: 40px;
    }

    body {
        background-image: url("../imgs/background-roses.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
    }

    main#reg_region {
        background-color: var(--dark_red_col);
        background-image: linear-gradient(45deg, var(--dark_red_col), #ff173e);
        margin: auto;
        color: white;
        padding: 30px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 8px 8px 10px var(--half_transparent_col);
    }

    main.dim_togler {
        width: 50%;
    }

    div.field {
        width: 60%;
        margin: auto;
    }

    div.field > input {
        width: 100%;
        height: 50px;
        border-radius: 20px 20px 20px 20px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        background-color: var(--half_transparent_col);
        color: white;
        padding-left: 10px;
        font-size: 1.5em;
    }

    div.field > label {
        font-size: 2em;
    }
}

div.pos_field {
    margin-top: 20px; /*Comes after the margin: auto in order to avoid reset*/
}