body {
    background-image: url("../imgs/background-roses.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

main#reg_region {
    background-color: var(--dark_red_col);
    background-image: linear-gradient(45deg, var(--dark_red_col), #ff173e);
    margin: auto;
    color: white;
    padding: 30px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 8px 8px 10px var(--half_transparent_col);
}

@media (max-width: 720px) {
    main.dim_togler {
        width: 100%;
    }

    div.field {
        width: 80%;
        margin: auto;
    }

    div.field > input {
        width: 100%;
        height: 40px;
        border-radius: 20px 20px 20px 20px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        background-color: var(--half_transparent_col);
        color: white;
        padding-left: 10px;
        font-size: 1.2em;
    }

    div.field > label {
        font-size: 1.5em;
    }

    div.pos_field {
        margin-top: 20px;
    }

}

@media (min-width: 720px) {

    main.dim_togler {
        width: 50%;
    }

    div.field {
        width: 60%;
        margin: auto;
    }

    div.field > input {
        width: 100%;
        height: 50px;
        border-radius: 20px 20px 20px 20px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        background-color: var(--half_transparent_col);
        color: white;
        padding-left: 10px;
        font-size: 1.5em;
    }

    div.field > label {
        font-size: 2em;
    }

    div.pos_field {
        margin-top: 20px;
    }
}